{% extends "base.html" %}

{% block auth_content %}
<div class="container" style="max-width: 800px;">

    <h1>Add Project</h1>

    {% if message %}
    <p class="alert alert-danger">{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}
        </p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
        <div>{{ message }}</div>

    </form>
</div>

{% endblock %}