{% extends "base.html" %}

{% block auth_content %}
<div class="container">
    <h2 class="mt-4">All tasks</h2>

<!--    <h3>Незавершенные задачи</h3>-->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Reminder</th>
                        <th>Project</th>
                        <th>Completed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in incomplete_tasks %}
                    <tr>
                        {% if task.late %}
                        <td class="table-danger">{{ task.name }}</td>
                        {% else %}
                        <td>{{ task.name }}</td>
                        {% endif %}
                        <td>{{ task.description }}</td>
                        <td>{{ task.deadline.strftime('%Y-%m-%d') }}</td>
                        <td>{{ " ".join(task.reminders.split("T")) }}</td>
                        <td>{{ task.project[0].name if task.project else 'Нет' }}</td>
                        <td>
                            <div class="form-check">
                                <form id="form-{{ task.id }}" action="/update_task_completed/{{ task.id }}" method="POST">
                                    <input class="form-check-input" type="checkbox"
                                           id="completed-{{ task.id }}"
                                           name="completed"
                                           onchange="updateFormAction({{ task.id }}, this.checked, 'all/');">
                                    <label class="form-check-label" for="completed-{{ task.id }}">
                                        Нет
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/edit/all/task/{{ task.id }}">Редактировать</a>
                            <a class="btn btn-danger btn-sm" href="/delete/all/task/{{ task.id }}">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h3 style="margin-top: 50px;">Completed tasks</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Reminder</th>
                        <th>Project</th>
                        <th>Completed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in completed_tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.deadline.strftime('%Y-%m-%d') }}</td>
                        <td>{{ " ".join(task.reminders.split("T")) }}</td>
                        <td>{{ task.project[0].name if task.project else 'Нет' }}</td>
                        <td>
                            <div class="form-check">
                                <form id="form-{{ task.id }}" action="/update_task_uncompleted/{{ task.id }}" method="POST">
                                    <input class="form-check-input" type="checkbox"
                                           id="completed-{{ task.id }}"
                                           name="completed"
                                           checked
                                           onchange="updateFormAction({{ task.id }}, this.checked, 'all/');">
                                    <label class="form-check-label" for="completed-{{ task.id }}">
                                        Да
                                    </label>
                                </form>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/edit/all/task/{{ task.id }}">Редактировать</a>
                            <a class="btn btn-danger btn-sm" href="/delete/all/task/{{ task.id }}">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
function updateFormAction(taskId, isChecked, page) {
    const form = document.getElementById('form-' + taskId);
    form.action = isChecked ? '/update_task/uncompleted/' + page + taskId : '/update_task/completed/' + page + taskId;
    form.submit();
}
</script>

{% endblock %}
