{% extends "base.html" %}

{% block auth_content %}
<div class="container" style="max-width: 1000px;">
    <h2 class="mt-4 text-center">Your API Key</h2>
    <div class="alert alert-warning" role="alert">
        <strong>Внимание!</strong> Your API key should not be used by anyone else. Please don't share it.
    </div>

    <div class="mb-3">
        <label for="apiKey" class="form-label">Ваш API ключ</label>
        <input type="text" class="form-control" id="apiKey" value="{{ user_api }}" readonly>
        <div class="d-flex justify-content-between mt-2">
            <button class="btn btn-primary" onclick="copyToClipboard()">Copy</button>
            <button class="btn btn-secondary" onclick="window.location.href='/new_api';">Generate new</button>
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        const apiKeyInput = document.getElementById('apiKey');
        apiKeyInput.select();
        apiKeyInput.setSelectionRange(0, 99999); // Для мобильных устройств

        navigator.clipboard.writeText(apiKeyInput.value)
            .then(() => {
                alert('API ключ скопирован в буфер обмена!');
            })
            .catch(err => {
                console.error('Ошибка при копировании: ', err);
            });
    }
</script>
{% endblock %}
